<div class="reviewPartial">
  <table>
    <tr><th style="width:55%"><label for="renewalField2">Date calculator</label></th>
    <td>
    <input id="renewalField2" title="Author Death Date" type="text" name="renDate2"
           size="6" style="margin-left:0;"
           onblur="javascript:PredictDate('[% htid %]');"/>
    </td></tr>
    <tr><th style="width:55%">Public Domain in:</th>
      <td><strong><span class="red" id=renewalSpan2></span></strong></td>
    </tr>
  </table>
</div>
