[% projs = crms.GetUserProjects() %]
[% IF projs.size %]
  [% proj = crms.GetProjectRef(crms.get('user').project).name %]
  [% flag = " &#x2014; " _ proj _ " Project" %]
[% END %]

<h2>Conflicts[% flag %]:</h2>

[% INCLUDE selection.tt  %]
[% INCLUDE searchResults.tt  %]
