<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="[% crms.WebPath('web', crms.GetSystemVar('favicon')) %]"/>
    <link rel="stylesheet" type="text/css" href="[% crms.WebPath('web', 'css/datepicker.css') %]"/>
    <script src="[% crms.WebPath('web', 'js/common.js') %]"></script>
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
  [% page = cgi.param('p') %]
  [% reviewType = (page == 'review' OR page == 'stanford' OR page == 'frontmatter') %]
  [% IF reviewType %]
    <script src="[% crms.WebPath('web', 'js/review.js') %]"></script>
  [% ELSE %]
    <script src="[% crms.WebPath('web', 'js/datepicker.packed.js') %]"></script>
  [% END %]
  [% IF crms.get('debugSql') || crms.get('debugVar') %]
    <link rel="stylesheet" type="text/css" href="[% crms.WebPath('web', 'css/debug.css') %]"/>
  [% END %]
  [% IF page == 'exportStats' %]
    <script src="https://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  [% END %]

  <link rel="stylesheet" type="text/css" href="[% crms.WebPath('web', 'css/review.css') %]"/>
  [% where = crms.WhereAmI() %]
  [% IF where != 'Production' %][% title = title _ ' - ' _ where %][% END %]
    <title>[% title %] - [% crms.PageToEnglish(page) %]</title>
  </head>
  <body>
  [% r = crms.GetSystemStatus() %]
  [% IF reviewType %]
    <div id="homePage">
  [% ELSE %]
    [% IF where %]
    <div class="topBanner">
      [% crms.DevBanner().replace(" ","&nbsp;") %]
      [% crms.Debug %]
    </div>
    [% END %]
    <div class="pages" id="homePage">
    <div style="height:82px;border-bottom:1px solid black;margin:0px;padding-bottom:6px;">
      [% # Don't display the notice if this is the review page and situation normal %]
      [% IF r.2 && (!reviewType || r.1 != 'normal') %]
        <table style="float:left;width:860px;height:80px;border:1px solid #185EAC;background-color:#EEEEFF;padding:1em;">
        <tr><td>
         [% status = (r.1 == 'down')? 'unavailable':((r.1 == 'partial')? 'partially available':r.1) %]
         <span style="font-size:1.3em;text-align:center;color:#DD4444">System status is <b>[% status %]</b>; last modified [% r.0 %]</span><br/>
         <span style="font-size:1.1em;">[% r.2 %]</span>
         [% IF page == 'review' %]&nbsp;&nbsp;&nbsp;<a href="[% crms.Sysify('crms') %]">Home</a>[% END %]
        </td></tr>
        </table>
      [% ELSE %]
      <a href="[% crms.Sysify('crms') %]">
        <img src="[% crms.WebPath('web', crms.GetSystemVar('logo')) %]" width="455" height="80" alt="Jump to home page"
             style="float:left;border:0px solid;margin-right:4em;"/>
      </a>
      [% END %]
      <div style="float:right;">
        <table class="helloBox">
          <tr>
            <td rowspan="2" class="logo">
              <img src="[% crms.WebPath('web', crms.GetSystemVar('hathitrust_logo')) %]"
                width="70.37" height="76" alt="HathiTrust Logo"/>
            </td>
            <td style="line-height:1px;">
              Hello&nbsp;[% crms.GetUserProperty(undef, 'name').replace(" ","&nbsp;") %]&nbsp;&nbsp;
              <a href="[% crms.Sysify(crms.WebPath('cgi', 'crms?p=Logout')) %]" class="header">Log Out</a>
            </td>
          </tr>
          <tr>
            <td>
              CRMS&nbsp;Version&nbsp;[% crms.Version() %]
            </td>
          </tr>
        </table>
      </div>
    </div>
    [% crms.Debug %]
    <div>[% INCLUDE nav.tt %]</div>
    <br/><br/><br/>
[% END %]
[% crms.Debug %]
[% IF r.1 != 'normal' %]
  [% IF page != 'systemStatus' %]
    [% IF r.1 == 'down' %]
      [% INCLUDE footer.tt %]
      [% STOP %]
    [% END %]
    [% IF (r.1 == 'partial' || r.1 == 'delayed') && (page == 'queueAdd' || page == 'review') %]
      [% INCLUDE footer.tt %]
      [% STOP %]
    [% END %]
  [% END %]
[% END %]
