<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="[% crms.WebPath('web', crms.GetSystemVar('favicon')) %]"/>
    <link rel="stylesheet" type="text/css" href="[% crms.WebPath('web', 'css/datepicker.css') %]"/>
    <!-- jQuery -->
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- GitHub Primer -->
    <link href="https://unpkg.com/@primer/css@^19.0.0/dist/primer.css" rel="stylesheet" />
    <script src="[% crms.WebPath('web', 'js/common.js') %]"></script>
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
    <script src="[% crms.WebPath('web', 'js/review.js') %]"></script>
    <script src="[% crms.WebPath('web', 'js/datepicker.packed.js') %]"></script>
    <script src="https://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    [% page = cgi.param('p') %]
    [% IF page == 'reviewerActivity' %]
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
    [% END %]

    <script>
    // In your Javascript (external .js resource or <script> tag)
    jQuery(document).ready(function() {
      jQuery(".select-institution").select2({
        //language: "<%= I18n.locale %>",
        width: "100%"
      });
    });
    </script>

    <link rel="stylesheet" type="text/css" href="[% crms.WebPath('web', 'css/review.css') %]"/>
    <title>[% title %] - [% crms.PageName(page) %]</title>
    
  </head>
  <body>
    [% IF crms.Instance() == 'dev' %]
      <div class="topBanner">
        Development&nbsp;Instance
      </div>
    [% END %]
    <div class="Header" data-color-mode="dark" data-dark-theme="dark_dimmed">
      <div class="Header-item">
        <img height="32" style="margin-right:1em;" alt="CRMS Logo"
          src="[% crms.WebPath('web', 'crmsblue.png') %]" />
        <span>CRMS v[% crms.Version() %]</span>
      </div>
      [% menus = crms.Menus(current_user) %]
      [% FOREACH menu IN menus %]
        [% id = menu.0 %]
        <div class="Header-item">
          <details class="details-reset details-overlay">
            <summary class="Header-link" aria-haspopup="true">
              [% menu.1 %]
            </summary>
            [% items = crms.MenuItems(id, current_user) %]
            <div class="SelectMenu">
              <div class="SelectMenu-modal">
                <div class="SelectMenu-list">
                  [% FOREACH item IN items %]
                  [% target = (item.2)? ' target="' _ item.2 _ '"':'' %]
                    <button class="SelectMenu-item Link--primary" role="menuitem">
                    <a  class="SelectMenu-item Link--primary" href="[% item.1 %]" [% target %] [% item.3 %]
                       class="SelectMenu-item" role="menuitem">[% item.0 %]</a>
                    </button>
                  [% END %]
                </div>
              </div>
            </div>
          </details>
        </div>
        [% END %]
      <div class="Header-item Header-item--full">
        Hello [% current_user.name.replace(" ","&nbsp;") %]
      </div>
      <div class="Header-item">
        <a class="Header-link Link--primary" href="/crms?p=Logout">Log Out</a>
      </div>
      <div class="Header-item mr-0">
        <img height="32" alt="HathiTrust Logo"
          src="[% crms.WebPath('web', 'HathiTrustLogo.png') %]" />
      </div>
    </div>
    <div class="pages" id="homePage">


    [% FOR msg IN flash %]
      <div class="flash">
        [% msg %]
      </div>
    [% END %]


    <br/><br/><br/>
    <!--<div class="Layout">
      <div class="Layout-main">-->
        [% content %]
    <!--  </div>
    </div>-->


  </div>
[% FOREACH error IN crms.GetErrors %]
  <div class="flash">
    <strong>ERROR: [% error.replace('\n','<br/>') %]</strong>
  </div>
[% END %]
</body>
</html>

