.debug {
	border-style: outset;
	border-color: #000;
	border-width: 1px;
	font-size: 11px;
	line-height: 20px;
}

.debugForm {
	background-color: #99c;
	font-weight: bold;
	padding: 0 20px 0 20px; 
}

.debugFormDetails {
	background-color: #ccf;
	border-top: 1px solid #999;
}

.debugSql {
	background-color: #696;
	color: #FFF;
	font-weight: bold;
	padding: 0 20px 0 20px;
	text-align: left;
}

.debugSqlDetails {
	background-color: #9c9;
	color: #000;
	padding: 0 20px 0 20px; 
	border-top: 1px solid #999;
	text-align: left;
}

.debugVar {
	background-color: #c99;
	color: #FFF;
	font-weight: bold;
	padding: 0 20px 0 20px;
	text-align: left;
}

.debugVarDetails {
	background-color: #fcc;
	color: #000;
	padding: 0 20px 0 20px; 
	border-top: 1px solid #999;
	text-align: left;
}

.debugErr {
	background-color: #900;
	font-weight: bold;
	color: #fff;
	padding: 0 20px 0 20px;
}

.debugErrDetails {
	background-color: #fcc;
	padding: 0 20px 0 20px;
	border-top: 1px solid #999;
	text-align: left;
}

.divHide	{
	display:none;
}

.divShow	{
	display:block;
	padding: 0 20px 0 20px;
	border-top: 1px solid #fff;
	background-color: #333;
	color: #000;
	line-height: 1.3em;
}
