* {
  margin:0;
  font-family: helvetica;
  line-height:1.1em;
}

code {
  font-family:Courier, 'Courier New', Monaco, monospace;
}

.pages {
  margin: 10px;
  padding: 10px;
}

.pages table {
  padding: 0;
}

h3 {
  margin: 15px 0;
}

a:link {color:#185EAC; text-decoration:none;}    /* unvisited link */
a:visited {color:#185EAC; text-decoration:none;} /* visited link */
a:hover {color:#1B75DA; text-decoration:underline;}   /* mouse over link */
a:active {color:#1B75DA; text-decoration:underline;}  /* selected link */
a.header:link    {color:#82CAFA;}
a.header:visited {color:#82CAFA;}
a.header:hover   {color:#A0DAFF;}
a.header:active  {color:#82CAFA;}

.divbody {
  float:left;
  width:99%;
}

.divOP {
  float:left;
  width:235px;
}

.divFrame {
  float:left;
  height:100%;
  border-left: 1px solid #72859a;
  position:absolute;
  left:235px;
  right:0px;
  top:0px;
}

/*.navtop    {
  text-align:center; 
  vertical-align:top;
  font-size:12px;
}*/

/*.navbottom  {
  text-align:left; 
  vertical-align:bottom;
}*/

/*.rightscont  {
  padding-top: 6px;
  background-color: #d0dee6;
  font-size:12px;
  text-align:left; 
  vertical-align:bottom;
  border-bottom: 1px solid #72859a;
  border-collapse:collapse;
}*/

.smallText { font-size:.5em }

.smallishText { font-size:.9em }

.nowrap { white-space:nowrap; }

.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }

.greeting {
  font-size: 1.5em;
  font-weight: bold;
}

.disabledLink {
  color:#444444;
}

.plainLink { text-decoration: none; color: black;}

input {
  margin-left: 8px;
}

table {
  width: 100%;
  padding: 5px;
}


table.nav { 
  border-bottom: 1px solid #72859a;
  font-size: 12px;
        
}

table.nav th { 
  padding: 1px 1px 1px 1px;
}

table.nav td {
  padding: 0px 0px 0px 0px;
  text-align:center;
}

table.id { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.id th {
  padding: 1px;
}

table.id td {
  padding: 0px 0px 0px 0px;
  text-align:left;
}

table.search { 
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color:#e2e2e2;
  font-size:12px;
}

table.search th {
  text-align:left;
  padding: 1px;
}

table.search td {
  text-align:left;
  padding-bottom: 4px;
}

table.display { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.display th { 
  padding: 1px 1px 1px 1px;
  border-style: inset inset inset inset;
  border-color: white black white black;
  width: 100%;
}

table.display td {
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: inset inset inset inset;
  border-color: white white white white;
  text-align:left;
}

#RightsReason table {
  font-size:12px;
}

table.ReviewError {
  border-bottom: 1px solid #72859a;
  background-color: #e2e2e2;
  font-size:12px;
}

#Notes {
  margin-left:10px;
}

#Notes textarea {
  margin-top: 5px;
}

#SubmitForm {
  margin-top: 8px;
}

.reviewPartial {
  border-bottom: 1px solid #72859a;
  font-size:12px;
}

.reviewPartial table {
  border-collapse: separate;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:12px;
  width: 100%;
}

.reviewPartial:nth-child(odd) {
  background-color:#d0dee6;
}

.reviewPartial:nth-child(even) {
  background-color:#e2e2e2;
}

.subpartial {
  padding-top: 6px;
  font-size:12px;
  text-align:left; 
  vertical-align:bottom;
  border-top: 1px solid #72859a;
  border-collapse:collapse;
}

input#getDate {
  border:2px solid #e2e2e2;
  background-color: #e2e2e2;
}

iframe.reviewFrame {
  border:none;
  width:100%;
  height:100%;
}

table.exportStats {
  width:100px;
  padding:0px;
  border-collapse:collapse;
  border-spacing:0px;
  border:1px solid #000000;
  background-color:white;
  font-size:90%;
}

table.exportStats td {
  border:1px solid #000000;
  padding:4px 20px 2px 6px;
}

table.exportStats th {
  padding:4px 6px 2px 6px;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

table.helloBox {
  width:100px;
  padding:0px;
  border-collapse:collapse;
  border:0px;
  background-color:#000000;
}

table.helloBox td {
  padding:0px 6px 0px 6px;
  color:#FFFFFF;
  text-align:right;
  white-space:nowrap;
  font-weight:bold;
}

table.helloBox td img {
  padding:0px;
}

tr.hoverWide:hover { background: #E0E0E0; }
tr.hoverWide td:hover { background: transparent; }

span.major {
  color:#82CAFA;
}

td.major,tr.major {
  background-color:#82CAFA;
  color:#000000;
  font-weight:bold;
}

span.red { color:#EE0000; }
span.orange { color:#EB9747; }

.darkred { color:#EE0000; }

td.purple,tr.purple {
  background-color:#D2B4DA;
  color:#000000;
  font-weight:bold;
}

span.purple {
  color:#D2B4DA;
}

span.minor {
  color:#FEFCAE;
}

td.minor,tr.minor {
  background-color:#FEFCAE;
  color:#000000;
  font-weight:bold;
}

td.inherit,tr.inherit {
  background-color:#FFCBCC;
  color:#000000;
  font-weight:bold;
}

span.total {
  color:#A0FEAE;
}

td.total,tr.total {
  background-color:#A0FEAE;
  color:#000000;
  font-weight:bold;
}

span.total {
  color:#A0FEAE;
}

table.mainnav {
  width:35%;
  border-collapse:collapse;
  border-spacing:0px;
  border:2px solid #000000;
  background-color:white;
  font-size:100%;
}

table.mainnav td {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:1em;
  background-color:#E4E4E2;
  text-align:left;
}

table.mainnav th {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:4px 6px 2px 1em;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

textarea {
	width: 97%;
	height: 60px;
	border: 1px solid #72859A;
}


td.debugTab {
  color:black;
}

td.debugExpl {
  color:red;
}

td.debugVal {
  color:red;
}

hr {
  border:0;
  color:#000000;
  background-color:#000000;
  height:1px;
}

#select select {
  font-size:.9em;
  padding:.14em;
}

#select input {
  font-size:.9em;
}

#select * {
  margin-bottom:.5em;
}

select.review {
  padding:2px;
  font-size:1em;
}

select.review option {
  padding-top:1px;
  padding-bottom:1px;
  font-size:1em;
}

input.reviewblue {
  padding-left:3px;
  padding-right:3px;
  font-size:1em;
  font-weight:bold;
  color:#185EAC;
}

input.review {
  padding-left:3px;
  padding-right:3px;
  font-size:1em;
  font-weight:bold;
}

a.tip {
  position:relative; /*this is the key*/
  z-index:24;
  text-decoration:none;
  border: 0 none;
}

a.tip img {
  border: 0px solid;
}

a.tip:hover {z-index:25;}

a.tip span {display:none;}

a.tip:hover span {
  padding:.5em;
  display:block;
  position:absolute;
  top:1em; left:1em; width:33em;
  border:1px solid #000000;
  text-align:left;
  color:#000000;
  background-color:#FFFFFF;
}

a.tip2 {
  position:relative;
  text-decoration:none;
  border: 0 none;
}

a.tip2 img {
  border: 0px solid;
}

a.tip2:hover {
  z-index:25;
  text-shadow: 4px 1px 6px black;
}

a.tip2 span {display:none;}

a.tip2:hover span {
  text-shadow:none;
  padding:.5em;
  display:block;
  position:absolute;
  top:1.5em; left:-12em; width:24em;
  border:1px solid #000000;
  text-align:center;
  color:#FFFFFF;
  background-color:#000000;
}

.warningBox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:20px 50px 25px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:33%;
  color: #800000;
  background-color: #FFCACA;
}

.warningSubbox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:10px 20px 10px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  color: #800000;
  background-color: #FFDADA;
}

.emailBox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:20px 50px 25px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:33%;
  background-color: #DDDDDD;
}

.ProgressBarRed {
  background-color:#a2a2a2;
  /* IE10 Consumer Preview */ 
  /*background-image: -ms-linear-gradient(left, #FF9889 0%, #D1382E 100%);*/
  /* Mozilla Firefox */ 
  /*background-image: -moz-linear-gradient(left, #FF9889 0%, #D1382E 100%);*/
  /* Opera */ 
  /*background-image: -o-linear-gradient(left, #FF9889 0%, #D1382E 100%);*/
  /* Webkit (Safari/Chrome 10) */ 
  /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF9889), color-stop(1, #D1382E));*/
  /* Webkit (Chrome 11+) */ 
  /*background-image: -webkit-linear-gradient(left, #FF9889 0%, #D1382E 100%);*/
  /* W3C Markup, IE10 Release Preview */ 
  /*background-image: linear-gradient(to right, #FF9889 0%, #D1382E 100%);*/
  border-radius: 5px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-right: 2px;
}

.ProgressBar {
  background-color:#a2a2a2;
  /* IE10 Consumer Preview */ 
  /*background-image: -ms-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Mozilla Firefox */ 
  /*background-image: -moz-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Opera */ 
  /*background-image: -o-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Webkit (Safari/Chrome 10) */ 
  /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #78D2F5), color-stop(1, #0F75BC));*/
  /* Webkit (Chrome 11+) */ 
  /*background-image: -webkit-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* W3C Markup, IE10 Release Preview */ 
  /*background-image: linear-gradient(to right, #78D2F5 0%, #0F75BC 100%);*/
  border-radius: 5px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-right: 2px;
}

.ProgressBar > div, .ProgressBarRed > div {
  background-color: #00ff00;
  height: 3px;
  border-radius: 4px;
}

/* ================================================================ 
This copyright notice must be untouched at all times.
 
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/variable_dl.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu {list-style-type:none; 
margin:0;
padding:0;
border-collapse:collapse;}
 
#menu li {display:block; float:left; position:relative; z-index:100; margin-right:1px; }
#menu li span {display:block; z-index:100; background:white; margin: 5px 11px; font-size:1.1em;}
#menu li a, #menu li a:visited {display:block; padding:0;}
 
#menu dl {position:absolute; top:0; left:0; margin:0; padding:0;}
#menu dt {background: white; border-left:1px solid black;border-right:1px solid black;margin:0; font-size:1.1em; float:left;}
#menu dd {display:none;border-left:1px solid black;border-right:1px solid black; clear:left; margin:0; padding:0; color:#fff; font-size: 1em; text-align:left;}

#menu dt a, #menu dt a:visited {background:white; color:black; text-decoration:none; white-space:nowrap; border:1px solid black; margin:-1px; display:block; padding: 5px 10px; font-weight:bold;}
#menu dd a, #menu dd a:visited {background:white; color:black; text-decoration:none; white-space:nowrap; border:1px solid black; margin:-1px; display:block; padding: 5px 10px;}

/*#menu li a:hover {border:0;}*/
 
#menu li:hover dd, #menu li.sfhover dd, #menu li a:hover dd, #menu li a.sfhover dd {display:block;}
#menu li:hover dl, #menu li a:hover dl {}
#menu li:hover dt a, #menu li a:hover dt a, #menu dd a:hover {background: white; color:black;}

#menu dl[class=home] dt a:hover, #menu dl[class=home] dt a.sfhover     {background-color:white;color:#185EAC;}
#menu dl[class=home] dt a                                              {background-color:white;color:#1B75DA;}
#menu dl[class=mailto] dt a:hover, #menu dl[class=mailto] dt a.sfhover {background-color:white;color:#000000;}
#menu dl[class=mailto] dt a                                            {background-color:white;color:#6F7073;}
#menu dl[class=total] a:hover, #menu dl[class=total] a.sfhover         {background: #A0FEAE;}
#menu dl[class=major] a:hover, #menu dl[class=major] a.sfhover         {background: #82CAFA;}
#menu dl[class=minor] a:hover, #menu dl[class=minor] a.sfhover         {background: #FEFCAE;}
#menu dl[class=orange] a:hover, #menu dl[class=orange] a.sfhover       {background: #EB9747;}
#menu dl[class=red] a:hover, #menu dl[class=red] a.sfhover             {background: #FB5252;}


/* ================================================================ 
By Keenan Payne
=================================================================== */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

a.close:hover { background: #00d9ff; text-decoration:none;}
a.close {color:white; text-decoration:none;}

@keyframes fadetogrey {
    100% {background-color:#e2e2e2;}
}

div.topBanner {
  line-height:24px;
  font-size: 1.1em;
  color:#FFFFFF;
  width:100%;
  background-color:#ED7B22;
  text-align:center;
  vertical-align:top;
}
