* {
  margin:0;
  font-family: helvetica;
  line-height:1.1em;
}

/*code {
  font-family:Courier, 'Courier New', Monaco, monospace;
}*/

a {
  color: #3344dd;
}

div.crms-container {
  margin: 10px;
  padding: 10px;
}

div.crms-review-container {
  margin: 0px;
  padding: 0px;
}

.pages table {
  padding: 0;
}

h3 {
  margin: 15px 0;
}

.divbody {
  float:left;
  width:99%;
}

div.operational-pane {
  float:left;
  width:235px;
}

.divFrame {
  float:left;
  height:100%;
  border-left: 1px solid #72859a;
  position:absolute;
  left:235px;
  right:0px;
  top:0px;
}

/* For Bootstrap/Popper tooltips with <br/> tags in the content. */
.tooltip { border-bottom: none; text-decoration: none; }

dl.row dd { min-height: 1em; }

/* For <tr> elements with inactive objects */
tr.background-inactive { background-color: #e2e2e2; }
/* For <tr> elements with inactive objects */
tr.background-hover:hover { background: #a0feae; }
tr.background-hover td:hover { background: transparent; }

/* queue index page zebra stripe */
/*tr.queue-table {
  background-color: #FFFFFF;
}*/
tr.queue-table:nth-child(odd) {
  background-color: #C6C4F1;
}

/*.navtop    {
  text-align:center; 
  vertical-align:top;
  font-size:12px;
}*/

/*.navbottom  {
  text-align:left; 
  vertical-align:bottom;
}*/

/*.rightscont  {
  padding-top: 6px;
  background-color: #d0dee6;
  font-size:12px;
  text-align:left; 
  vertical-align:bottom;
  border-bottom: 1px solid #72859a;
  border-collapse:collapse;
}*/

.smallText { font-size:.5em }

.smallishText { font-size:.9em }

.nowrap { white-space:nowrap; }

.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }

.greeting {
  font-size: 1.5em;
  font-weight: bold;
}

.disabledLink {
  color:#444444;
}

.plainLink { text-decoration: none; color: black;}

input {
  margin-left: 8px;
}

table {
  width: 100%;
  padding: 5px;
}


table.nav {
  font-size: 12px;   
}

table.nav th { 
  padding: 1px 1px 1px 1px;
}

table.nav td {
  padding: 0px 0px 0px 0px;
  text-align:center;
}

table.id { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.id th {
  padding: 1px;
}

table.id td {
  padding: 0px 0px 0px 0px;
  text-align:left;
}

table.search { 
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color:#e2e2e2;
  font-size:12px;
}

table.search th {
  text-align:left;
  padding: 1px;
}

table.search td {
  text-align:left;
  padding-bottom: 4px;
}

table.display { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.display th { 
  padding: 1px 1px 1px 1px;
  border-style: inset inset inset inset;
  border-color: white black white black;
  width: 100%;
}

table.display td {
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: inset inset inset inset;
  border-color: white white white white;
  text-align:left;
}

#RightsReason table {
  font-size:12px;
}

table.ReviewError {
  border-bottom: 1px solid #72859a;
  background-color: #e2e2e2;
  font-size:12px;
}

#Notes {
  margin-left:10px;
}

#Notes textarea {
  margin-top: 5px;
}

#SubmitForm {
  margin-top: 8px;
}

.reviewPartial {
  border-bottom: 1px solid #72859a;
  font-size:12px;
}

.reviewPartial table {
  border-collapse: separate;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:12px;
  width: 100%;
}

.reviewPartial:nth-child(odd) {
  background-color:#d0dee6;
}

.reviewPartial:nth-child(even) {
  background-color:#e2e2e2;
}

.subpartial {
  padding-top: 6px;
  font-size:12px;
  text-align:left; 
  vertical-align:bottom;
  border-top: 1px solid #72859a;
  border-collapse:collapse;
}

input#getDate {
  border:0px;
  background-color: inherit
}

iframe.review-frame {
  border:none;
  width:100%;
  height:100%;
}

table.exportStats {
  width:100px;
  padding:0px;
  border-collapse:collapse;
  border-spacing:0px;
  border:1px solid #000000;
  background-color:white;
  font-size:90%;
}

table.exportStats td {
  border:1px solid #000000;
  padding:4px 20px 2px 6px;
}

table.exportStats th {
  padding:4px 6px 2px 6px;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

span.major {
  color:#82CAFA;
}

td.major,tr.major {
  background-color:#82CAFA;
  color:#000000;
  font-weight:bold;
}

span.red { color:#EE0000; }
span.orange { color:#EB9747; }

.darkred { color:#EE0000; }

td.purple,tr.purple {
  background-color:#D2B4DA;
  color:#000000;
  font-weight:bold;
}

span.purple {
  color:#D2B4DA;
}

span.minor {
  color:#FEFCAE;
}

td.minor,tr.minor {
  background-color:#FEFCAE;
  color:#000000;
  font-weight:bold;
}

td.inherit,tr.inherit {
  background-color:#FFCBCC;
  color:#000000;
  font-weight:bold;
}

span.total {
  color:#A0FEAE;
}

td.total,tr.total {
  background-color:#A0FEAE;
  color:#000000;
  font-weight:bold;
}

span.total {
  color:#A0FEAE;
}

table.mainnav {
  margin: auto;
  width:35%;
  border-collapse:collapse;
  border-spacing:0px;
  border:2px solid #000000;
  background-color:white;
  font-size:100%;
}

table.mainnav td {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:1em;
  background-color:#E4E4E2;
  text-align:left;
}

table.mainnav th {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:4px 6px 2px 1em;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

textarea {
	width: 97%;
	height: 60px;
	border: 1px solid #72859A;
}


td.debugTab {
  color:black;
}

td.debugExpl {
  color:red;
}

td.debugVal {
  color:red;
}

hr {
  border:0;
  color:#000000;
  background-color:#000000;
  height:1px;
}

#select select {
  font-size:.9em;
  padding:.14em;
}

#select input {
  font-size:.9em;
}

#select * {
  margin-bottom:.5em;
}

select.review {
  padding:2px;
  font-size:1em;
}

select.review option {
  padding-top:1px;
  padding-bottom:1px;
  font-size:1em;
}

input.reviewblue {
  padding-left:3px;
  padding-right:3px;
  font-size:1em;
  font-weight:bold;
  color:#185EAC;
}

input.review {
  padding-left:3px;
  padding-right:3px;
  font-size:1em;
  font-weight:bold;
}

a.tip {
  position:relative; /*this is the key*/
  z-index:24;
  text-decoration:none;
  border: 0 none;
}

a.tip img {
  border: 0px solid;
}

a.tip:hover {z-index:25;}

a.tip span {display:none;}

a.tip:hover span {
  padding:.5em;
  display:block;
  position:absolute;
  top:1em; left:1em; width:33em;
  border:1px solid #000000;
  text-align:left;
  color:#000000;
  background-color:#FFFFFF;
}

a.tip2 {
  position:relative;
  text-decoration:none;
  border: 0 none;
}

a.tip2 img {
  border: 0px solid;
}

a.tip2:hover {
  z-index:25;
  text-shadow: 4px 1px 6px black;
}

a.tip2 span {display:none;}

a.tip2:hover span {
  text-shadow:none;
  padding:.5em;
  display:block;
  position:absolute;
  top:1.5em; left:-12em; width:24em;
  border:1px solid #000000;
  text-align:center;
  color:#FFFFFF;
  background-color:#000000;
}

.warningBox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:20px 50px 25px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:33%;
  color: #800000;
  background-color: #FFCACA;
}

.warningSubbox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:10px 20px 10px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:90%;
  color: #800000;
  background-color: #FFDADA;
}

.emailBox
{
  border: 1px solid;
  margin: 10px 0px;
  padding:20px 50px 25px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:33%;
  background-color: #DDDDDD;
}

.ProgressBar {
  background-color:#a2a2a2;
  /* IE10 Consumer Preview */ 
  /*background-image: -ms-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Mozilla Firefox */ 
  /*background-image: -moz-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Opera */ 
  /*background-image: -o-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* Webkit (Safari/Chrome 10) */ 
  /*background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #78D2F5), color-stop(1, #0F75BC));*/
  /* Webkit (Chrome 11+) */ 
  /*background-image: -webkit-linear-gradient(left, #78D2F5 0%, #0F75BC 100%);*/
  /* W3C Markup, IE10 Release Preview */ 
  /*background-image: linear-gradient(to right, #78D2F5 0%, #0F75BC 100%);*/
  border-radius: 5px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-right: 2px;
}

.ProgressBar > div {
  background-color: #00ff00;
  height: 3px;
  border-radius: 4px;
}

div.topBanner {
  line-height:24px;
  font-size: 1.1em;
  color:#FFFFFF;
  width:100%;
  background-color:#ED7B22;
  text-align:center;
  vertical-align:top;
}
