[% INCLUDE header.tt    %]

[% IF crms.IsUserAdmin() %]
[% INCLUDE adminNav.tt  %]
[% ELSE %]
[% INCLUDE homeLink.tt  %]
[% END %]

<hr width="25%" align="left"/><br/>
<h2>Historical Reviews:</h2>

[% INCLUDE selection.tt  %]

[% INCLUDE searchResults.tt  %]

[% INCLUDE footer.tt %]
