[% IF NOT crms.IsUserAdmin() %]
  [% INCLUDE denied.tt  %]
  [% STOP %]
[% END %]

[% INCLUDE header.tt    %]
[% INCLUDE adminNav.tt  %]

<hr width="25%" align="left"/>

[% INCLUDE editUserForm.tt %]

[% INCLUDE footer.tt %]

