[% IF NOT crms.IsUserAdmin() %]
  <h3>You do not have access to this page</h3>
  [% STOP %]
[% END %]

[% INCLUDE header.tt    %]
[% INCLUDE adminNav.tt  %]

<hr width="25%" align="left"/>
 [% crms.CreateYearlyReport() %]
 <br/><br/>
 [% crms.CreateStatsReport( 'all' ) %]
 <br/><br/>
 [% users = crms.GetUserData() %]
 [% FOREACH id IN users.keys.sort %]
   [% crms.CreateStatsReport( id ) %]
   <br/><br/>
 [% END %]
 

[% INCLUDE footer.tt %]

