  <br/>
  <hr width="25%">
  <br/>
  <form action="crms">
    <input type="hidden" name="p" value="admin"/>
    <input type="hidden" name="changeuser" value="1"/>

    <label>Change to User (id):</label>
    <input type="text" name="newuser"/>
 
    <br/><input type="submit" value="Submit"/>
  </form>

