<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="[% crms.GetSystemVar('favicon') %]"/>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/dashboard.css"/>
    <title>CRMS Dashboard</title>
    <script type="text/javascript" src="/c/crms/js/common.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>

<script type="text/javascript">
<!--
	window.onload = function()
	{
	  try
	  {
      loadChart('chart0', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=4') %]");
      loadChart('chart1', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=0') %]");
      loadChart('chart2', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=7') %]");
      loadChart('chart3', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=2') %]");
[% IF crms.get('sys') == 'crmsworld' %]
      loadChart('chart4', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=5') %]");
[% ELSE %]
      loadChart('chart4', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=6') %]");
[% END %]
      loadChart('chart5', "[% crms.Sysify('/cgi/c/crms/getExportStats?type=graph&c=9') %]");
    }
    catch (e)
    {
      alert('Problem loading chart: '+e);
    }
	}
// -->
</script>

<table class="dashboardTable">
  <tr>
    <td class="dashboardLogo">
      <img src="[% crms.GetSystemVar('logo') %]" width="455" height="80" alt="CRMS Logo"/>
    </td>
    <td class="dashboardLogo"><h1>Performance Dashboard</h1></td>
    <td class="dashboardLogo">>
      <img src="/c/crms/IMLSLogo.png" width="330" height="150" alt="IMLS Logo"/>
    </td>
  </tr>
</table>

<table class="dashboardTable">
  <tr>
    <td colspan="2"><div id="chart0" class="dashboardWide"></div></td>
    <td colspan="2"><div id="chart1" class="dashboardWide"></div></td>
  </tr>
  <tr>
    <td colspan="2"><h4>Volumes in Candidates (estimated)</h4></td>
    <td colspan="2"><h4>Number of Exported Determinations</h4></td>
  </tr>
  <tr>
    <td><div id="chart2" class="dashboardNarrow"></div></td>
    <td><div id="chart3" class="dashboardNarrow"></div></td>
    <td><div id="chart4" class="dashboardNarrow"></div></td>
    <td><div id="chart5" class="dashboardNarrow"></div></td>
  </tr>
  <tr>
    <td><h4>Exported Determinations by Namespace</h4></td>
    <td><h4>Breakdown of All Determinations</h4></td>
    <td><h4>[% IF crms.get('sys') == 'crmsworld' %]
      Breakdown of Determinations by Country of Publication
      [% ELSE %]
      Breakdown of Volumes Filtered from Candidates
      [% END %]</h4></td>
    <td><h4>Breakdown of Reviews by Institution</h4></td>
  </tr>
</table>

</body>
</html>
