<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/review.css"/>
    [% page = cgi.param('p') %]
    [% dev = crms.get('dev') %]
    [% fulltitle = title %]
    [% IF dev %]
      [% fulltitle = fulltitle _ ' - ' _ 'Development' %]
      [% IF dev != 1 %]
        [% fulltitle = fulltitle _ ' (' _ dev _ ')' %]
      [% ELSE %]
      [% END %]
    [% END %]
    <title>[% fulltitle %] - [% crms.PageToEnglish(page) %]</title>
    <script type="text/javascript" src="/c/crms/swfobject.js"></script>
    <script type="text/javascript">
<!--
swfobject.embedSWF("/c/crms/open-flash-chart.swf", "chart0", "800", "300", "9.0.0",
                   "expressInstall.swf", {"data-file":escape("/cgi/c/crms/getExportStats?type=graph&c=3")});

// --> 
    </script>
  </head>
  <body>
    <div class="pages" id="homePage">
    <img src="/c/crms/crms.png" alt="CRMS Logo"/><br/><br/>
    <font size="5"><strong>Hello [% crms.GetUserName %]</strong></font>
    <a href="crms?p=Logout"> Logout</a>
<br/><br/>

[% INCLUDE adminNav.tt %]
<br/>

[% crms.CreateExportStatusReport() %]
<br/>
[% crms.CreateExportReport(0, 1) %]

<br/><br/>
<table style="padding:0px; width:800px; height:300px; border-collapse:collapse">
<tr style="background-color:#000000;">
  <td><div id="chart0"/></td>
  
</tr>
</table>
<br/>
[% INCLUDE footer.tt %]
