[% INCLUDE header.tt %]

[% projs = crms.GetUserProjects() %]
[% IF projs.size %]
  [% proj = crms.GetProjectName(crms.GetUserProperty(undef, 'newproject')) %]
  [% flag = " -- " _ proj _ " Project" %]
[% END %]

<h2>Conflicts[% flag %]:</h2>

[% INCLUDE selection.tt  %]
[% INCLUDE searchResults.tt  %]
[% INCLUDE footer.tt %]
