[% IF NOT crms.IsUserExpert() %]
  [% INCLUDE denied.tt  %]
  [% STOP %]
[% END %]

[% INCLUDE header.tt %]

<h2>Conflicts:</h2>

[% INCLUDE selection.tt  %]

[% INCLUDE searchResults.tt  %]

[% INCLUDE footer.tt %]
