<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/review.css"/>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/datepicker.css"/>
    <title>[% title %]</title>
    <script type="text/javascript" src="/c/crms/datepicker.packed.js"></script>
    <script type="text/javascript" src="/c/crms/swfobject.js"></script>
    <script type="text/javascript">
<!--
function gup( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if (results == null) return "";
  else return results[1];
}

var start = gup("startDate");
var end = gup("endDate");
var url3 = escape("/cgi/c/crms/getExportStats?type=graph&c=3&startDate="+start+"&endDate="+end)

swfobject.embedSWF("/c/crms/open-flash-chart.swf", "chart0", "400", "300", "9.0.0",
                   "expressInstall.swf", {"data-file":escape("/cgi/c/crms/getExportStats?type=graph&c=0")});
swfobject.embedSWF("/c/crms/open-flash-chart.swf", "chart1", "400", "300", "9.0.0",
                   "expressInstall.swf", {"data-file":escape("/cgi/c/crms/getExportStats?type=graph&c=1")});
swfobject.embedSWF("/c/crms/open-flash-chart.swf", "chart2", "400", "300", "9.0.0",
                   "expressInstall.swf", {"data-file":escape("/cgi/c/crms/getExportStats?type=graph&c=2")});
swfobject.embedSWF("/c/crms/open-flash-chart.swf", "chart3", "400", "300", "9.0.0",
                   "expressInstall.swf", {"data-file":url3});
// --> 
</script>
  </head>
  <body>
    <div class="pages" id="homePage">
    <img src="/c/crms/crms.png" alt="CRMS Logo"/><br/><br/>
    <font size="5"><strong>Hello [% crms.GetUserName %]</strong></font>
    <a href="crms?p=Logout"> Logout</a>
<br/><br/>

[% INCLUDE adminNav.tt  %]
<br/>
<h2 style="margin-left:390px">Statistics for Exported Determinations</h2>

[% crms.CreateExportReport() %]
[% crms.CreateExportReport(1) %]

<br/><br/>
<table style="padding:0px; width:800px; height:600px; border-collapse:collapse">
<tr style="background-color:#000000;">
  <td><div id="chart0"/></td>
  <td><div id="chart1"/></td>
</tr>
<tr style="background-color:#000000;">
  <td><div id="chart2"/></td>
  <td><div id="chart3"/></td>
</tr>
<tr style="background-color:transparent;">
  <td style="padding-top:10px;" colspan="2">
  <span class="smallishText">
  * Note: The CRMS Project Cumulative table and graph represent the current breakdown of all final determinations exported
  to the rights database since the CRMS version 1.0 was released (July 10, 2009).
  They do not include legacy determinations (determinations done pre-CRMS).
  If a volume that has been reviewed using the CRMS is subsequently re-queued/re-reviewed,
  the subsequent determination is counted as an additional determination (these occurrences should be rare).
  </span>
  </td>
</tr>
</table>
<br/>
<h4>Restrict Expert Effort Dates</h4>
<div style="position:relative;border-style:solid;width:32em;border-width:1px;padding:10px;">
<form action="crms">
<label for="startDate">Start Date:</label>
<input type="text" id="startDate" name="startDate" value="[% startDate %]" onclick="datePickerController.show('startDate');"
       onblur="datePickerController.hide('startDate');"/>
<script type="text/javascript">
// <![CDATA[
  var opts = { formElements:{"startDate":"Y-ds-m-ds-d"} };       
  datePickerController.createDatePicker(opts);
// ]]>
</script>
<span class="smallText">(YYYY-MM-DD)</span>
<br/>
<label for="endDate">End Date:</label>
<input type="text" id="endDate" name="endDate" value="[% endDate %]" onclick="datePickerController.show('endDate');"
       onblur="datePickerController.hide('endDate');"/>
<script type="text/javascript">
// <![CDATA[
  var opts = { formElements:{"endDate":"Y-ds-m-ds-d"} };       
  datePickerController.createDatePicker(opts);
// ]]>
</script>
<span class="smallText">(YYYY-MM-DD)</span>
<input type="submit" title="Use this Range"/>
<input type="hidden" name="p" value="exportStats"/>
</form>
</div>
<br/>
[% INCLUDE footer.tt %]
