<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/review.css" />
    <title>[% title %]</title>
    <script language="javascript">
// Colorizes all the userRateTable type tables in the document
function init()
{
  var colors = ["#CCFFFF", "#FFFFFF"];
  var tables = document.body.getElementsByTagName("table");
  var ntables = tables.length;
  for (var i = 0; i < ntables; i++)
  {
    var table = tables[i];
    if (table.id == "userRateTable")
    {
      var nrows = table.rows.length;
      for (var j = 0; j < nrows; j++)
      {
        var tr = table.rows[j];
        tr.style.backgroundColor = colors[j % 2];
      }
    }
  }
}
  </script>
  </head>
  <body onload="init()"> 
    <FONT SIZE="5"><Strong>Hello [% crms.GetUserName %] </strong></FONT>
    <a href="crms?p=Logout"> Logout</a>

<br/>
<br/>

