[% IF NOT crms.IsUserExpert() %]
  [% INCLUDE denied.tt  %]
  [% STOP %]
[% END %]

[% INCLUDE header.tt    %]
[% INCLUDE adminNav.tt  %]

<hr width="25%" align="left"/><br/>
<h2>Held Reviews:</h2>

[% INCLUDE selection.tt  %]

[% INCLUDE searchResults.tt  %]

[% INCLUDE footer.tt %]
