<div><a href="crms">home</a>
  [% page = cgi.param("p") %]

  [% IF    page == "editReviews"           %] &gt; edit reviews
  [% ELSIF page == "userRate"              %] &gt; view your review rate
  [% END %]
</div>

