<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/png" href="[% crms.GetSystemVar('favicon') %]"/>
    <title>Inserts Summary</title>
    <script type="text/javascript" src="/c/crms/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/c/crms/css/review.css"/>

<script type="text/javascript">
<!--
window.onerror = function(msg, url, line, col, error) {
   // Note that col & error are new to the HTML 5 spec and may not be
   // supported in every browser.  It worked for me in Chrome.
   var extra = !col ? '' : '\ncolumn: ' + col;
   extra += !error ? '' : '\nerror: ' + error;
   // You can view the information in an alert to see things working like this:
   alert("Error: " + msg + "\nurl: " + url + "\nline: " + line + extra);
   // TODO: Report this error via ajax so you can keep track
   //       of what pages have JS issues
   var suppressErrorAlert = true;
   // If you return true, then error alerts (like in older versions of
   // Internet Explorer) will be suppressed.
   return suppressErrorAlert;
};
-->
</script>
</head>
<body>
<div class="pages" id="homePage">
[% id = cgi.param("id") %]
[% data = inserts.GetInsertsData(id) %]
[% count = data.keys.size() %]
<h2 style="margin-left:390px">[% count %] [% crms.Pluralize("insert", count) %] for [% id %]</h2>
<br/>
<table class="exportStats" style="width:95%;">
<tr>
  <th>#</th><th>Page</th><th>Author</th><th>Title</th>
  <th>Publication<br/>Date</th><th>Publication<br/>History</th><th>Insert<br/>Type</th>
  <th>Renewed?</th>
  <th>Reason</th>
  <th>Renewal<br/>Number</th><th>Renewal<br/>Date</th>
  <th>Source</th><th>Time<br/>Spent</th>
  <th>VIAF<br/>Warning</th>
  <th>Public<br/>Domain?</th>
  <th>Copyright<br/>Restored?</th>
</tr>
[% FOR i IN data.keys.nsort %]
<tr>
  [% ren = data.$i.renewed %]
  [% icon = (ren)? ((ren == 2)? 'MinusIcon.png':'CheckIcon.png'):'XIcon.png' %]
  [% IF ren == 1 %]
    [% date = data.$i.renDateY _ '-' _ data.$i.renDateM _ '-' _ data.$i.renDateD %]
  [% END %]
  <th>$i</th>
  <td>[% data.$i.page %]</td><td>[% data.$i.author %]</td><td>[% data.$i.title %]</td>
  <td>[% data.$i.pub_date %]</td><td>[% data.$i.pub_history %]</td><td>[% data.$i.type %]</td>
  <td class="textcenter"><img width="16" height="16" alt="Renewed?" src="/c/crms/[% icon %]"/></td>
  <td>[% data.$i.reason %]</td>
  <td>[% data.$i.renNum %]</td><td>[% date %]</td>
  <td>[% data.$i.source %]</td><td>[% data.$i.timer %]</td>
  <td><span class="red">[% inserts.VIAFWarning(data.$i.author) %]</span></td>
  <td>[% data.$i.pd %]</td>
  [% icon = (data.$i.restored)? 'CheckIcon.png':0 %]
  <td class="textcenter">
    [% IF icon %]
      <img width="16" height="16" alt="Restored?" src="/c/crms/[% icon %]"/>
    [% END %]
  </td>
</tr>
[% END %]
</table>

[% INCLUDE footer.tt %]
