[% INCLUDE header.tt    %]
[% INCLUDE homeLink.tt  %]

<h3>Search Your Previously Processed Reviews</h3>
<span class="smallishText">To access/edit your recent reviews, go <a href="/cgi/c/crms/crms?p=editReviews">here</a></span><br/><br/>

[% INCLUDE selection.tt  %]

[% INCLUDE searchResults.tt  %]

[% INCLUDE footer.tt %]
