@import "review.css";

.divbody {
  float:right;
  width:99%;
}

.divNav {
  float:right;
  width:210px;
}

.divFrame {
  float:right;
  height:100%;
  border-right: 1px solid #72859a;
  position:absolute;
  right:210px;
  left:0px;
  top:0px;
}
