* {
  margin:0;
  font-family: helvetica;
  line-height:1.1em;
}

code {
  font-family:Courier, 'Courier New', Monaco, monospace;
}

.pages {
  margin: 10px;
  padding: 10px;
}

.pages table {
  padding: 0;
}

h3 {
  margin: 15px 0;
}

body {
  margin-top: 3px;
}

a:link {color:#185EAC;}    /* unvisited link */
a:visited {color:#185EAC;} /* visited link */
a:hover {color:#1B75DA;}   /* mouse over link */
a:active {color:#1B75DA;}  /* selected link */
color:#185EAC;

.divbody {
  float:left;
  width:99%;
}

.divNav {
  float:left;
  width:210px;
}

.divFrame {
  float:left;
  height:100%;
  border-left: 1px solid #72859a;
  position:absolute;
  left:210px;
  right:0px;
  top:0px;
}

.navtop    {
  text-align:center; 
  vertical-align:top;
  font-size:12px;
}

.navbottom  {
  text-align:left; 
  vertical-align:bottom;
}

.rightscont  {
  text-align:left; 
  vertical-align:bottom;
  border-bottom: 1px solid #72859a;
  border-collapse:collapse;
}

.smallText { font-size:.5em }

.smallishText { font-size:.8em }

.greeting {
  font-size: 1.5em;
  font-weight: bold;
}

.disabledLink {
  color:#444444;
}

.plainLink { text-decoration: none; color: black;}

input {
  margin-left: 10px;
}

table {
  width: 100%;
  padding: 5px;
}


table.nav { 
  border-bottom: 1px solid #72859a;
  font-size: 12px;
        
}

table.nav th { 
  padding: 1px 1px 1px 1px;
}

table.nav td {
  padding: 0px 0px 0px 0px;
  text-align:center;
}

table.id { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.id th { 
  padding: 1px;
}

table.id td {
  padding: 0px 0px 0px 0px;
  text-align:left;
}

table.search { 
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color:#e2e2e2;
  font-size:12px;
}

table.search th { 
  padding: 1px;
}

table.search td {
  padding-bottom: 4px;
}

table.display { 
  border-spacing: 2px;
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color: #d0dee6;
  font-size:12px;
}

table.display th { 
  padding: 1px 1px 1px 1px;
  border-style: inset inset inset inset;
  border-color: white black white black;
  width: 100%;
}

table.display td {
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: inset inset inset inset;
  border-color: white white white white;
  text-align:left;
}

div#RightsCont {
  padding-top: 5px;
  background-color: #d0dee6;
  font-size:12px;
}

#RightsReason table {
  font-size:12px;
}

table.ReviewError {
  border-bottom: 1px solid #72859a;
  background-color: #e2e2e2;
  font-size:12px;
}

#Notes {
  margin-left:10px;
}

#Notes textarea {
  margin-top: 5px;
}

#SubmitForm {
  height: 3em;
  margin-top: 8px;
}

table.test {
  border-collapse: separate;
  border-bottom: 1px solid #72859a;
  background-color:#e2e2e2;
  font-size:12px;
  width: 100%;
}

table.test th { 
  padding: 1px;
}

table.test td {
  text-align:left;
}

input#getDate {
  border:2px solid #e2e2e2;
  background-color: #e2e2e2;
}

table.bottomNav {
  border-top: 1px solid #72859a;
  padding-top: 8px;
  font-size:12px;
}

table.exportStats {
  width:100px;
  padding:0px;
  border-collapse:collapse;
  border-spacing:0px;
  border:1px solid #000000;
  background-color:white;
  font-size:90%;
}

table.exportStats td {
  border:1px solid #000000;
  padding:4px 20px 2px 6px;
}

table.exportStats th {
  padding:4px 6px 2px 6px;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

span.major {
  color:#82CAFA;
}

td.major,tr.major {
  background-color:#82CAFA;
  color:#000000;
  font-weight:bold;
}

span.red {
  color:#FB5252;
}

span.orange {
  color:#EB9747;
}

td.purple,tr.purple {
  background-color:#D2B4DA;
  color:#000000;
  font-weight:bold;
}

span.purple {
  color:#D2B4DA;
}

span.minor {
  color:#FEFCAE;
}

td.minor,tr.minor {
  background-color:#FEFCAE;
  color:#000000;
  font-weight:bold;
}

td.total,tr.total {
  background-color:#A0FEAE;
  color:#000000;
  font-weight:bold;
}

span.total {
  color:#A0FEAE;
}

table.mainnav {
  width:35%;
  border-collapse:collapse;
  border-spacing:0px;
  border:2px solid #000000;
  background-color:white;
  font-size:100%;
}

table.mainnav td {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:1em;
  background-color:#E4E4E2;
  text-align:left;
}

table.mainnav th {
  border:2px solid #000000;
  border-collapse:collapse;
  padding:4px 6px 2px 1em;
  background-color:#000000;
  color:#FFFFFF;
  text-align:left;
}

textarea {
	width: 97%;
	height: 60px;
	border: 1px solid #72859A;
}


td.debugTab {
  color:black;
}

td.debugExpl {
  color:red;
}

td.debugVal {
  color:red;
}

hr {
  border:0;
  color:#000000;
  background-color:#000000;
  height:1px;
}

#select select {
  font-size:.9em;
  padding:.14em;
}

#select input {
  font-size:.9em;
}

#select * {
  margin-bottom:.5em;
}


/* ================================================================ 
This copyright notice must be untouched at all times.
 
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/variable_dl.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu {list-style-type:none; 
margin:0;
padding:0;
border-collapse:collapse;}
 
#menu li {display:block; float:left; position:relative; z-index:100; margin-right:1px; }
#menu li span {display:block; z-index:100; background:white; margin: 5px 11px; font-size:1.1em;}
#menu li a, #menu li a:visited {display:block; padding:0;}
 
#menu dl {position:absolute; top:0; left:0; margin:0; padding:0;}
#menu dt {background: white; border-left:1px solid black;border-right:1px solid black;margin:0; font-size:1.1em; float:left;}
#menu dd {display:none;border-left:1px solid black;border-right:1px solid black; clear:left; margin:0; padding:0; color:#fff; font-size: 1em; text-align:left;}

#menu dt a, #menu dt a:visited {background:white; color:black; text-decoration:none; border-bottom:1px solid black; display:block; padding: 5px 10px; font-weight:bold;}
#menu dd a, #menu dd a:visited {background:white; color:black; text-decoration:none; border-bottom:1px solid black; display:block; padding: 5px 10px;}

/*#menu li a:hover {border:0;}*/
 
#menu li:hover dd, #menu li a:hover dd {display:block;}
#menu li:hover dl, #menu li a:hover dl {}
#menu li:hover dt a, #menu li a:hover dt a, #menu dd a:hover {background: white; color:black;}

#menu dl[class=home] dt a:hover {background-color:white;color:#185EAC;}
#menu dl[class=home] dt a       {background-color:white;color:#1B75DA;}
#menu dl[class=total] a:hover   {background: #A0FEAE;}
#menu dl[class=major] a:hover   {background: #82CAFA;}
#menu dl[class=minor] a:hover   {background: #FEFCAE;}
#menu dl[class=orange] a:hover  {background: #EB9747;}
#menu dl[class=red] a:hover     {background: #FB5252;}
